*.dtb
uImage
zImage

kernel/kernel-4.9/arch/arm64/boot/dts/_ddot_/
*.dtbo

avt_build/binaries
avt_build/resources/driverPackage/*
avt_build/resources/gcc
avt_build/resources/sdcard
kernel/kernel-4.9/drivers/video/tegra/host

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore

# Additional .gitignores added by Aaron
.vscode/
avt_build/build*
avt_build/resources/public_sources/
avt_build/resources/rootfs/
avt_build/build.txt

kernel/kernel-4.9/signing_key
